@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {
    --ColorLighter: #F2E2C4;
    --ColorNormal: #F2BB77;
    --ColorBold: #F2A477;
    --ColorBolder: #BF7F5A;
    --ColorEmphasisContrast: #730C02;
    --ColorBasicContrast: #430600;

    --GradientColorLighter: #F8E4C0;
    --GradientColorNormal: #F4CA9B;
    --GradientColorBold: #f5a157;

    --GradientColorLighterBlured: rgba(248, 228, 192, 0.15);
    --GradientColorNormalBlured: rgba(244, 202, 155, 0.25);
    --GradientColorBoldBlured: rgba(245, 161, 87, 0.15);

    --NormalFamily: Inter, Arial, sans-serif;
    --EmphasisFamily: 'Great Vibes', cursive, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-attachment: fixed;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    color: var(--ColorBold);
    background-color: transparent;

    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(215, 162, 105, 0.2) -3px 6px 6px 0px;

    font-family: "Anton SC";
    text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.36);
    font-size: 1em;
}

nav a {
    font-weight: normal;
    color: var(--ColorBasicContrast);
    text-decoration: underline;

    transition: 0.2s;
}

nav a:hover, nav a:active {
    background-color: var(--GradientColorNormal);

    padding: 5px;
    border-radius: 5px;

    transition: 0.2s;
}

main {
    background-image: linear-gradient(to right, var(--GradientColorLighterBlured), var(--GradientColorNormalBlured), var(--GradientColorBoldBlured));
    background-attachment: scroll;

    width: 90vw;

    padding-top: 5px;
    margin: auto;

    

    box-shadow: rgba(140, 92, 50, 0.296) -2px 0px 8px 0px;
    

    border-radius: 5px;
}

article {
    width: 96%;

    margin: 10px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 5px 7px rgba(183, 142, 91, 0.25);
}

article > h1 {
    text-indent: 5px;
    line-height: 1.3em;
    color: var(--ColorEmphasisContrast);
}

article > p {
    text-align: justify;
    text-indent: 10px;

    font-size: 2.4vh;

    line-height: 1.3em;

    padding-left: 8px;
    padding-right: 8px;

    color: var(--ColorBasicContrast);

    transition: all .5s;
}

#btns{
    text-align: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4vh;
    font-weight: 500;

    line-height: 1.3em;

    padding-left: 8px;
    padding-right: 8px;

    color: #894c29;

    transition: all .5s;

    text-shadow: #f5a15786 2px 1px 1px;
}

#btns span {
    cursor: grab;
    margin: 30px;
    
    font-size: 3.2vh;
}

.poe {
    display: none;
}

.poe p{
    text-indent: 0px;
    text-align: justify;
    

    font-size: 2.4vh;

    line-height: 1.3em;

    padding-left: 8px;
    padding-right: 8px;

    color: var(--ColorBasicContrast);

    transition: all .5s;
}

.poe h1{
    line-height: 1.3em;
    color: var(--ColorEmphasisContrast);

    text-indent: 0px;
}


#Imagem1 {
    background-image: url(../images/Sla.jfif);
}

#Imagem2 {
    background-image: url(../images/Sla2.jfif);
}

main section {

    height: 300px;
    width: 90%;

    margin: auto;
    margin-bottom: 10px;
    
    background-image: linear-gradient(to bottom, var(--GradientColorLighter), var(--GradientColorNormal), var(--GradientColorBold));
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);

    border: 2px solid var(--ColorLighter);
    border-radius: 5px;

    display: none;
}