@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

:root {
    --ColorLighter: #F2E2C4;
    --ColorNormal: #F2BB77;
    --ColorBold: #F2A477;
    --ColorBolder: #BF7F5A;
    --ColorEmphasisContrast: #730C02;
    --ColorBasicContrast: #430600;

    --GradientColorLighter: #F8E4C0;
    --GradientColorNormal: #F4CA9B;
    --GradientColorBold: #f5a157;

    --GradientColorLighterBlured: rgba(248, 228, 192, 0.15);
    --GradientColorNormalBlured: rgba(244, 202, 155, 0.25);
    --GradientColorBoldBlured: rgba(245, 161, 87, 0.15);

    --NormalFamily: Inter, Arial, sans-serif;
    --EmphasisFamily: 'Great Vibes', cursive, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-attachment: fixed;
    overflow-x: hidden;
}

nav {
    width: 100vw;
    color: #fea16c;
    background-color: transparent;

    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: rgba(215, 162, 105, 0.2) -3px 6px 6px 0px;

    font-family: "Anton SC";
    text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.36);
    font-size: 1em;
}

nav a {
    font-weight: normal;
    color: var(--ColorBasicContrast);

    transition: 0.2s;
}

nav a:hover, nav a:active {
    background-color: var(--GradientColorNormal);

    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

    transition: 0.2s;
}

main {
    background-image: linear-gradient(to right, var(--GradientColorLighterBlured), var(--GradientColorNormalBlured), var(--GradientColorBoldBlured));
    background-attachment: scroll;

    width: 90vw;

    padding-top: 5px;
    margin: auto;

    

    box-shadow: rgba(140, 92, 50, 0.296) -2px 0px 8px 0px;
    

    border-radius: 5px;
}

article {
    width: 96%;

    margin: 10px;
    padding: 10px;

    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 5px 7px rgba(183, 142, 91, 0.25);
}

article > h1 {
    text-indent: 5px;
    line-height: 1.3em;
    color: var(--ColorEmphasisContrast);
}

article > p {
    text-align: justify;
    text-indent: 10px;

    font-size: 2.4vh;

    line-height: 1.3em;

    padding-left: 8px;
    padding-right: 8px;

    color: var(--ColorBasicContrast);

    transition: all .5s;
}

#btns{
    text-align: center;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.4vh;
    font-weight: 500;

    line-height: 1.3em;

    padding-left: 3px;
    padding-right: 3px;

    color: #894c29;

    transition: all .5s;

    text-shadow: #f5a15786 2px 1px 1px;
}

#btns span {
    cursor: grab;
    margin: 30px;
    
    font-size: 3.2vh;
}

.poe {
    height: 0;
    opacity: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.poe.show {
    height: auto; /* Ajusta a altura com base no conteúdo */
    opacity: 1;
    margin-bottom: 10px;
    transition: opacity .8s ease;
}

.poe p{
    text-indent: 0px;
    text-align: justify;
    

    font-size: 2.4vh;

    line-height: 1.3em;

    padding-left: 8px;
    padding-right: 8px;

    color: var(--ColorBasicContrast);

    transition: all .5s;
}

.poe h1{
    line-height: 1.3em;
    color: var(--ColorEmphasisContrast);

    text-indent: 0px;
}


main section {

    height: 0;
    width: 90%;

    margin: auto;
    margin-bottom: 0px;
    
    background-image: linear-gradient(to bottom, var(--GradientColorLighter), var(--GradientColorNormal), var(--GradientColorBold));
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;

    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);

    border: 2px solid var(--ColorLighter);
    border-radius: 5px;

    opacity: 0;
}

main section.show {
    height: 300px; /* Altura total quando visível */
    opacity: 1;
    margin-bottom: 150px; /* Adiciona o espaçamento quando visível */
    transition: height .8s ease, opacity 0.8s ease;
}

#Imagem1 {
    background-image: url(../images/PI_Floresta.png);
}

#Imagem1::after {
    content: " HARMONIA E BELEZA ENTRE OS INDÍGENAS E A NATUREZA: retrata a harmonia entre indígenas e a natureza, destacando a convivência pacífica e sustentável. Com cores suaves e um cenário natural, a obra simboliza a conexão espiritual dos povos originários com o meio ambiente, valorizando o respeito e equilíbrio com a terra. CARLOS EMANUEL";
    font-size: 0.8em;
    text-align: justify;
    display: block;
    color: gray;
    font-style: italic;
    margin-top: 300px;
}

#Imagem2 {
    background-image: url(../images/PI_Árvore.png);
}

#Imagem2::after {
    content: " RAÍZES DE POVOS INDÍGENAS: A obra representa a profunda conexão da cultura indígena com a natureza e o cosmos. A árvore simboliza a sabedoria ancestral, ramificada entre a terra e o céu. As estrelas e cores vibrantes destacam o misticismo e a espiritualidade indígena, enquanto o barco e a água indicam uma jornada espiritual através das tradições. CARLOS EMANUEL";
    font-size: 0.8em;
    text-align: justify;
    display: block;
    color: gray;
    font-style: italic;
    margin-top: 300px;
}

#Imagem3 {
    background-image: url(../images/PunhoFoda.jpeg);
}

#Imagem3::after {
    content: "A RESISTÊNCIA: A luta dos povos indígenas pela preservação da natureza, contrastando a devastação ambiental com a harmonia ecológica. O punho erguido representa resistência, e os padrões indígenas no braço reforçam a importância da conexão entre esses povos e a proteção do meio ambiente. CARLOS EMANUEL";
    text-align: justify;
    font-size: 0.8em;
    display: block;
    color: gray;
    font-style: italic;
    margin-top: 300px;
}



#Imagem4 {
    background-image: url(../images/PI_Coca.png);
}

#Imagem4::after {
    content: "PEQUENO ÍNDIO: Um jovem indígena em um contexto moderno, usando camiseta e bebendo de um refrigerante, desafiando estereótipos tradicionais. Destacando a coexistência entre a herança indígena e o mundo contemporâneo, mostrando que a identidade indígena é dinâmica, integrada à modernidade, mas ainda conectada às suas raízes. GIVALDO CARNEIRO";
    text-align: justify;
    font-size: 0.8em;
    display: block;
    color: gray;
    font-style: italic;
    margin-top: 300px;
}

#Imagem5 {
    background-image: url(../images/OlhandoPCima.jpeg);
}

#Imagem5::after {
    content: "HERÓI DA ALDEIA: O impacto do desmatamento e da poluição nas aldeias indígenas, mostrando uma transição entre o lado degradado à esquerda e o lado preservado à direita. O indígena central, com símbolos tradicionais, representa a defesa da natureza, destacando seu papel crucial na proteção do meio ambiente e de sua cultura. GIVALDO CARNEIRO";
    text-align: justify;
    font-size: 0.8em;
    display: block;
    color: gray;
    font-style: italic;
    margin-top: 300px;
}

#Imagem6 {
    background-image: url(../images/CoisaLinda.jpeg);
}

#Imagem6::after {
    content: "JOVEM MOÇA: A transição de uma jovem indígena da adolescência para a vida adulta, representada por grafismos que simbolizam sua nova fase como solteira. Elementos naturais, como flores e animais, reforçam sua conexão com a natureza e a cultura. A expressão serena da jovem reflete aceitação, enquanto símbolos como o jaguar e os peixes destacam força e novas possibilidades nessa etapa da vida. GIVALDO CARNEIRO";
    text-align: justify;
    font-size: 0.8em;
    display: block;
    color: gray;
    font-style: italic;
    margin-top: 300px;
}